﻿@section scripts { 
    <script src="runtime.js"></script>
    <script src="polyfills.js"></script>
    <script src="styles.js"></script>
    <script src="vendor.js"></script>
    <script src="main.js"></script>
}

@* <div id="data" class="p-1 bg-warning">  @Json.Serialize(Model) </div> *@

<app-root></app-root>
