<table class="table table-striped">
    <tbody>
        <tr><th>Name</th><th>Category</th><th>Price</th><th></th></tr>
        <tr *ngFor="let product of products">
            <td>{{product.name}}</td>
            <td>{{product.category}}</td>
            <td>{{product.price}}</td>
            <td>
                <button class="btn btn-primary btn-sm" [routerLink]="['/detail', product.productId]">
                    Details
                </button>
            </td>
        </tr>
    </tbody>
</table>
