<div class="text-right p-1">
    <small *ngIf="itemCount > 0; else empty">
        {{ itemCount }} item(s), {{ totalPrice | currency:"USD":"symbol" }}
    </small>
    <button class="btn btn-sm ml-1"
            [disabled]="itemCount == 0"
            routerLink="/cart">
        <i class="text-white fa fa-shopping-cart"></i>
    </button>
</div>

<ng-template #empty>
    <small class="text-muted">
        (cart is empty)
    </small>
</ng-template>